@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Why not <a href="Home/RegistrationView">register a movie in the database</a>?</p>
</div>
